#!/usr/bin/make -f

#export DH_VERBOSE = 1

%:
	dh $@

override_dh_builddeb:
	# Workaround for building on Ubuntu and installing on Debian (Ubuntu uses
	# zstd). https://bugs.debian.org/892664
	dh_builddeb -- -Zxz
